
<div id="footer">
  <div class="footer" style="">
    <a href="#"><i class="fa fa-youtube fa-2x footer-social-icon"></i></a>
    <a href="#"><i class="fa fa-instagram fa-2x footer-social-icon"></i></a>
    <a href="#"><i class="fa fa-facebook fa-2x footer-social-icon"></i></a>
    <a href="#"><i class="fa fa-twitter fa-2x footer-social-icon"></i></a>
    <p>This is a Airbnb Home challenge @ LeWagon</p>
  </div>
</div>
